html {
    scroll-behavior: smooth;
}

#Btn_ScrollToTop {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    transform: scale(0%) rotate(-90deg);
    transition: 0.5s;
}

#Btn_ScrollToTop:hover {
    background-color: darkcyan;
    transition: 0.2s;
}
